In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [41]:
from sklearn import metrics

In [4]:
df=pd.read_csv("Assignment 2//problem_2//problem_2_train.csv",parse_dates=['memcreateddate', 'mobilepurchasedate',
       'claimintdate','pickupStartdate'])

In [5]:
df.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,AJ,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,AJ,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,AM,2,110018,233,233,228,B,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,AN,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [34]:
df.shape

(6250, 16)

In [12]:
df.describe()

,srno,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincode,servicecntrid,tat_in_days
count,6.250000e+03,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000
mean,2.946134e+06,11.732000,340546.139840,232.654400,231.495360,155.040480,366009.473440,4457.158080,12.730400
std,7.733480e+04,9.141463,213449.097822,30.471658,22.521945,41.883918,210990.167946,200.945634,5.075533
min,2.818359e+06,0.000000,0.000000,0.000000,0.000000,131.000000,0.000000,4008.000000,2.000000
25%,2.877226e+06,3.000000,110018.000000,233.000000,233.000000,131.000000,135034.000000,4398.000000,9.000000
50%,2.944426e+06,8.000000,400001.000000,233.000000,233.000000,131.000000,395001.500000,4474.000000,12.000000
75%,3.012237e+06,21.000000,500004.000000,233.000000,233.000000,131.000000,560016.000000,4580.000000,15.000000
max,3.101035e+06,27.000000,800001.000000,308.000000,245.000000,228.000000,855107.000000,5146.000000,57.000000

## Categorical Variables in the data--->

In [9]:
df['mobmake'].unique()

array(['AN', 'AJ', 'AM', 'C', 'AI', 'AD', 'S', 'AA', 'Y', 'AE', 'D', 'U',
       'AB', 'T', 'AF', 'G', 'L', 'H', 'K', 'J', 'N', 'AP', 'AK', 'O',
       'F', 'AL', 'R', 'M', 'Z', 'P', 'I', 'V', 'AR', 'W', 'AG', 'B', 'A',
       'AO'], dtype=object)

In [13]:
df['custpincodecategory'].unique()

array(['A', 'B', 'C', '0', 'D'], dtype=object)

In [15]:
df['claimtype'].unique()

array(['ADLD', 'EW'], dtype=object)

## We will have to convert them

### such that the encoding remains uniform , let us take both train and test together and then do the changes

In [20]:
test=pd.read_csv("Assignment 2//problem_2//problem_2_test.csv",parse_dates=['memcreateddate', 'mobilepurchasedate',
       'claimintdate','pickupStartdate'])

In [21]:
test.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate
0,2829088,AN,3,560011,233,233,131,A,ADLD,560093,2017-07-30,2017-07-27,2018-02-01,4467,2018-02-06
1,2829866,AJ,2,110018,233,233,228,A,ADLD,110034,2017-07-17,2017-01-25,2018-02-01,4388,2018-02-08
2,2894489,AJ,3,560011,233,233,228,C,ADLD,590014,2018-01-12,2018-01-11,2018-02-21,4460,2018-02-28
3,2876708,AJ,2,110018,233,233,228,B,ADLD,250110,2017-08-07,2017-05-21,2018-02-16,4388,2018-02-26
4,2890283,AN,22,400104,233,233,131,C,ADLD,496001,2017-11-10,2017-09-22,2018-02-20,4581,2018-02-23

In [23]:
test.shape

(2116, 15)

In [27]:
temp_df=df.append(test,sort=False)

## Using label encoder

In [24]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [28]:
temp_df['mobmake']=le.fit_transform(temp_df['mobmake'])

In [29]:
temp_df['mobmake'].unique()

array([14, 10, 13, 19,  9,  4, 34,  1, 39,  5, 20, 36,  2, 35,  6, 22, 27,
       23, 26, 25, 29, 16, 11, 30, 21, 12, 33, 28, 40, 31, 24, 37, 17, 38,
        7, 18,  0, 15,  8, 32,  3], dtype=int64)

In [30]:
temp_df['custpincodecategory']=le.fit_transform(temp_df['custpincodecategory'])

In [31]:
temp_df['claimtype']=le.fit_transform(temp_df['claimtype'])

## Making two new features, the difference between membership purchase date and mobile purchase date and claim initialization and pickup date

In [32]:
temp_df['mem-purchase'] = (temp_df.mobilepurchasedate - temp_df.memcreateddate).dt.days
temp_df['pickup-claim'] = (temp_df.pickupStartdate - temp_df.claimintdate).dt.days

## We will have to split again

In [35]:
df=temp_df.head(6250)

In [226]:
test=temp_df.tail(2116)

## Taking these features

In [194]:
x=df[['srno','mobmake', 'hubid', 'hubpincode', 'insuranceCompanyId', 'custpincodecategory','claimtype', 'custpincode','servicecntrid','mem-purchase', 'pickup-claim']]

In [195]:
y=df['tat_in_days']

## Splitting into train_test for model selection

In [158]:
from sklearn.model_selection import train_test_split

In [210]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.9,test_size=0.1)

## Trying various models now

## Linear Regression

In [211]:
from sklearn.linear_model import LinearRegression
lin=LinearRegression()
lin.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [212]:
lin.score(x_test,y_test)

0.1408263863851763

In [213]:
predicted=lin.predict(x_test)

In [214]:
metrics.mean_squared_error(predicted,y_test)

22.809828280052205

In [215]:
rmse=np.sqrt(metrics.mean_squared_error(predicted,y_test))

In [216]:
rmse

4.775963597019161

##  RandomForestRegressor

In [180]:
from sklearn.ensemble import RandomForestRegressor

In [217]:
rf = RandomForestRegressor()
rf.fit(x_train,y_train)
rf_pred = rf.predict(x_test)
mse = metrics.mean_squared_error(y_test,rf_pred)
print('Root Mean squared Error:',np.sqrt(mse))

Root Mean squared Error: 4.3577370274030995

## KNeighborsRegressor

In [183]:
from sklearn.neighbors import KNeighborsRegressor

In [218]:
knn = KNeighborsRegressor()
knn.fit(x_train,y_train)
knn_pred = knn.predict(x_test)
mse = metrics.mean_squared_error(y_test,knn_pred)
print('Root Mean squared Error:',np.sqrt(mse))

Root Mean squared Error: 5.090276220402975

In [186]:
from sklearn import svm

In [219]:
svc = svm.SVR()
svc.fit(x_train,y_train)
svc_pred = svc.predict(x_test)
mse = metrics.mean_squared_error(y_test,svc_pred)
print('Root Mean squared Error:',np.sqrt(mse))

Root Mean squared Error: 5.229535245255206

## Gradient Boosting Regressor

In [189]:
from sklearn import ensemble

In [190]:
clf = ensemble.GradientBoostingRegressor()

In [220]:
clf.fit(x_train,y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [221]:
pred=clf.predict(x_test)

In [222]:
mse = metrics.mean_squared_error(y_test,pred)
print('Root Mean squared Error:',np.sqrt(mse))

Root Mean squared Error: 4.113810762623756

## Using Gradient BoostRegressor now

In [223]:
clf.fit(x,y)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [227]:
x_test=test[['srno','mobmake', 'hubid', 'hubpincode', 'insuranceCompanyId', 'custpincodecategory','claimtype', 'custpincode','servicecntrid','mem-purchase', 'pickup-claim']]

In [229]:
result=clf.predict(x_test)

In [232]:
test.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days,mem-purchase,pickup-claim
0,2829088,14,3,560011,233,233,131,1,0,560093,2017-07-30,2017-07-27,2018-02-01,4467,2018-02-06,NaN,-3,5
1,2829866,10,2,110018,233,233,228,1,0,110034,2017-07-17,2017-01-25,2018-02-01,4388,2018-02-08,NaN,-173,7
2,2894489,10,3,560011,233,233,228,3,0,590014,2018-01-12,2018-01-11,2018-02-21,4460,2018-02-28,NaN,-1,7
3,2876708,10,2,110018,233,233,228,2,0,250110,2017-08-07,2017-05-21,2018-02-16,4388,2018-02-26,NaN,-78,10
4,2890283,14,22,400104,233,233,131,3,0,496001,2017-11-10,2017-09-22,2018-02-20,4581,2018-02-23,NaN,-49,3

In [233]:
test.drop(['tat_in_days'],axis=1,inplace=True)

C:\Users\Aashita Arora\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [235]:
test.insert(loc=17,column='tat_in_days',value=result)

In [236]:
test.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,mem-purchase,pickup-claim,tat_in_days
0,2829088,14,3,560011,233,233,131,1,0,560093,2017-07-30,2017-07-27,2018-02-01,4467,2018-02-06,-3,5,9.965516
1,2829866,10,2,110018,233,233,228,1,0,110034,2017-07-17,2017-01-25,2018-02-01,4388,2018-02-08,-173,7,11.537032
2,2894489,10,3,560011,233,233,228,3,0,590014,2018-01-12,2018-01-11,2018-02-21,4460,2018-02-28,-1,7,12.915641
3,2876708,10,2,110018,233,233,228,2,0,250110,2017-08-07,2017-05-21,2018-02-16,4388,2018-02-26,-78,10,14.458887
4,2890283,14,22,400104,233,233,131,3,0,496001,2017-11-10,2017-09-22,2018-02-20,4581,2018-02-23,-49,3,15.037135

In [237]:
test.to_csv("submission2_test.csv")